.descriptionFont {
	font-size: 1.75em;
	line-height: 1em;
}

.headerFont {
	font-size: 3em;
}

.sideComponent{
	display: flex;
	flex-direction:row;
	padding-bottom: 50px;
}

.rightFavorite{
	padding-left: 50px;
	font-size: 1.5em;
}

.editChoice{
	display: flex;
	flex-direction: row;
}